.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 32px;
    background-color:#f3e9dc;
    color: #000000;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .logo {
    height: 40px;
    width: 40px;
    object-fit: contain;
  }
  
  .brand {
    font-size: 20px;
    font-weight: 600;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #00d8ff;
  }
  