* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    width: 260px;
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    /* THIS MAKES IT MOVE */
    transition: transform 0.3s ease;
}

/* CARD GOES UP */
.card:hover {
    transform: translateY(-20px);
}

/* IMAGE */
.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* VIDEO */
.card-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;   /* NO CROPPING */
    background: black;     /* fills empty space */
    display: none;
}


/* SWITCH ON HOVER */
.card:hover .card-img {
    display: none;
}

.card:hover .card-video {
    display: block;
}

.card p {
    margin-top: 10px;
    font-size: 18px;
}
